:root{
    --main-color: #ff9c6a;
    --text-color: #fff;
}

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
	text-transform: capitalize;
	transition: smooth;
}

html {
	overflow-x: hidden ;
}

/* header start */

section {
	padding: 4.5rem 7%;
}

.header {
	padding: 0.5rem 7%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	left: 0;
	right: 0;
	top: 0%;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	z-index: 1000;
}

.header p, a #logo {
	display: inline-block;
	color: black;
	font-size: 1.6rem;
	padding-top: 10px;
}

#logo img {
	float: left;
	width: 50px;
	height: 50px;
}

#logo span {
	color: var(--main-color);
}

#logo2 {
	display: none;
}

.navbar a{
	color: black;
	margin-left: 1.4rem;
	font-size: 1rem;
	position: relative;
}

.navbar a:hover {
	color: var(--main-color);
	transition: 0.4s;
}

.navbar a:after {
	content: '';
	position: absolute;
	background: var(--main-color);
	top: 0;
	left: 0;
	width: 0;
	height: 2px;
	top: 100%;
	margin-top: 5px;
	transition: 1s;
}

.navbar a:hover:after {
	width: 100%;
}

.icons div{
	font-size: 1.4rem;
	margin-left: 1rem;
	margin-right: 1rem;
	cursor: pointer;
}

.icons div:hover {
	color: var(--main-color);
}

#menu-bars {
	display: none;
}

.btn {
	margin-top: 2rem;
	width: 150px;
	padding: 12px;
	color: var(--text-color);
	background: var(--main-color);
	font-size: 1.5rem;
	border-radius: 4px;
	cursor: pointer;
}

.navbar .btn:hover {
	background: rgba(0, 0, 0, 0.86);
	color: var(--main-color);
	transition: 1.4s;
}

.navbar.active {
	left: 0;
}

.form-search {
	width: 40%;
	position: absolute;
	top: 100%;
	padding: 1.5rem;
	right: -100%;
}

.form-search input{
	width: 100%;
	padding: 1rem;
	outline: none;
	border: 1px solid var(--main-color);
	border-radius: 15px;
}

.form-search.active {
	right: 2rem;
}

.background-image{
    background: url("../images/hero-img.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 4%;
}

.background-content {
	position: absolute;
	top: 45%;
	padding-left: 7%;

}

.background-content h2, p{
	color: var(--text-color);
}

.background-content h2{
	font-size: 48px;
	text-shadow: 2px 2px black;
}

.background-content p{
	font-size: 1.3rem;
	margin-bottom: 30px;
	text-shadow: 1px 2px black;
}


.background-content a{
	padding: 0.8rem 1.6rem;
	background: var(--main-color);
	color: var(--text-color);
	font-size: 1rem;
	border-radius: 10px;
}

.about-us-main h1{
	color: var(--main-color);
	font-size: 30px;
	text-align: center;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
}

.about .row .content{
    flex: 1 1 40rem;
}

.about .row .content span{
    font-size: 26px;
    color: var(--main-color);
}

.about .row .content h3{
    font-size: 22px;
    color: black;
    padding: 0;
    font-style: italic;
}

.about .row .content p{
    font-size: 16px;
    color: var(--white);
    padding: 1rem 0;
    line-height: 2;
}

.about .row .content ul li{
    font-size: 16px;
    padding-top: .8rem;
    list-style-type: none;
}

.about .row .content ul li i{
    color: var(--main-color);
    padding-right: .5rem;
}

.about .row .content .btn{
    font-size: 1rem;
}

.about .row .image{
    flex: 2 1 30rem;
}

.about .row .image img{
    width:100%;
    height: 100%;
}

.services-main {
	padding: 4.5rem 7% 0.5rem 7%;
	background: #eee;
}

.services-main h1{
	color: var(--main-color);
	font-size: 30px;
	text-align: center;
}

.feature-slider {
	padding-bottom: 4rem;
}

.feature-slider .wrapper {
	display: flex;
	gap: 2rem;
}

.feature-slider .box {
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: 1rem 0;
	width: 100%;
}

.feature-slider .box .image {
	height: 25rem;
	width: 100%;
	overflow: hidden;
}

.feature-slider .box .image img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.feature-slider .box:hover .image img{
	transform: scale(1.2);
}

.feature-slider .box .content {
	padding: 1rem 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-items: center;
}

.feature-slider .box .content h3{
	font-size: 1.4rem;
	font-weight: bold;
	color: var(--text-color);
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.3);
	padding: .2rem;
	margin-top: .5rem;
}

.feature-slider .box .content .price {
	width: 6rem;
	height: 6rem;
	line-height: 6rem;
	border-radius: 50%;
	text-align: center;
	margin: auto;
	background: var(--main-color);
	font-size: 1.3rem;
	font-weight: bolder;
	color: var(--text-color);
}

.feature-slider .box:hover .content .price {
	background: none;
	border: .3rem solid #fff;
	line-height: 5.5rem;
}

.schedule{
	padding: 0.5rem 7%;
	background: #eee;
}

.schedule h1{
	color: var(--main-color);
	font-size: 30px;
}

.schedule .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
	padding-top: 2rem;
	padding-bottom: 5rem;
}

.schedule .box-container .box {
	background:var(--text-color) ;
}

.schedule .box-container .box .content {
	padding: 2rem 2rem 1rem 2rem;
}

.schedule .box-container .box .content h3{
	font-size: 30px;
	padding-bottom: .5rem;
	color: var(--main-color);
}

.schedule .box-container .box .content p{
	color: #333;
	font-size: 1rem;
	line-height: 1.8;
}

.schedule .box-container .box .icons {
	padding: 0 2rem 1rem 2rem;
}

.schedule .box-container .box .icons span{
	display: block;
	font-size: 1rem;
	color: #333;
	padding: .3rem 0;
}

.schedule .box-container .box .icons span i{
	margin-right: .5rem;
}

.schedule .box-container .box .btn{
	margin: 3rem 2rem;
	background: var(--main-color);
	color: var(--text-color);
	font-size: 1rem;
}

.schedule .box-container .box .btn:hover {
	background: rgba(0, 0, 0, 0.86);
	color: var(--main-color);
}

.schedule .box-container .box img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main-contact {
	padding: 4rem 7%;
}

.main-inner-contact {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	flex-wrap: nowrap;
	background: black;
}

.inner-contact {
	flex: 1 1 45rem;
}

.inner-contact .contact-im img{
	width: 100%;
}

.contact-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.contact-content h2{
	font-size: 30px;
	color: var(--text-color);
	margin-bottom: 15px;
	margin-left: -2rem;
}

.contact-content h2 span{
	position: relative;
}

.contact-content h2 span:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	background: var(--main-color);
	width: 100%;
	height: 2px;
}

.contact-content form{
	margin-left: 2rem;
}

.contact-content input{
	width: 80%;
	padding: 1rem;
	margin: 1rem;
	border: 1px solid var(--main-color);
	background: black;
	color: var(--text-color);
	text-transform: none;
}

.contact-content textarea{
	width: 80%;
	padding: 1rem;
	margin: 1rem;
	border: 1px solid var(--main-color);
	background: black;
	color: var(--text-color);
}

.contact-content .btn{
	font-size: 18px;
}

.contact-content .btn:hover {
	color: var(--main-color);
	background: var(--text-color);
}

.footer{
	margin-top: 1.5rem;
	font-size: 1.2rem;
	padding:1.2rem;
	text-align: center;
	color:#666;
	background: #eee;
}

.footer span a{
    color:var(--main-color);
}
















@media (max-width:847px) {

	html{
		font-size: 55%;
	}

	section {
		padding: 7rem 7%;
	}

	.header {
		padding: 0.8rem;
	}

	.header p, a #logo {
		font-size: 2.8rem;
	}

	#menu-bars {
		display: initial;
	}

	#rec {
		display: none;
	}

	.background-image{
	    background: url("../images/hero-img.jpg");
	    width: 100%;
	    height: 100vh;
	    background-size: cover; 
	    background-repeat: no-repeat;
	    background-position: 40%;

	    margin-top: 4%;
	}

	.navbar {
		position: absolute;
		top: 0;
		left: -100%;
		background: var(--main-color);
		width: 30rem;
		height: 100vh;
	}

	.navbar a {
		display: block;
		font-size: 1.7rem;
		margin: 1rem;
		margin-bottom: 1.3rem;
		padding: 1rem;
		color: var(--text-color);
	}

	.navbar a:hover {
		color: var(--text-color);
	}

	.icons div{
	font-size: 2.2rem;
	}

	#logo2 {
		display: block;
	}

	#logo2 {
		font-size: 1.6rem;
		color: black;
		padding-top: 20px;
	}
	
	#logo2 span{
		color: white;
	}

	#logo2 img {
		float: left;
		height: 50px;
		width: 50px;
	}
	
	.background-content h2{
	font-size: 48px;
	text-shadow: 2px 2px black;
	}

	.background-content p{
		font-size: 2rem;
		margin-bottom: 25px;
		text-shadow: 1px 2px black;
	}


	.background-content a{
		padding: 1.2rem 2.4rem;
		background: var(--main-color);
		color: var(--text-color);
		font-size: 1.8rem;
		border-radius: 10px;
	}

	.form-search {
		width: 50%;
	}

	.about .row .content .btn{
    	font-size: 1.6rem;
	}

	.services-main {
		padding: 7rem 7%;
	}

	.feature-slider .wrapper {
		display: block;
	}

	.feature-slider .box .image {
		height: 40rem;
		width: 100%;
		overflow: hidden;
	}

	.feature-slider .box .content h3{
		font-size: 2.5rem;
	}

	.feature-slider .box .content .price {
		width: 10rem;
		height: 10rem;
		line-height: 10rem;
		border-radius: 50%;
		text-align: center;
		margin: auto;
		background: var(--main-color);
		font-size: 2rem;
		font-weight: bolder;
		color: var(--text-color);
	}

	.feature-slider .box:hover .content .price{
		line-height: 9.5rem;
	}

	.schedule .box-container {
		display: block;
	}

	.schedule .box-container .box .content p{
		color: #333;
		font-size: 1.6rem;
		line-height: 1.8;
	}

	.schedule .box-container .box .icons {
	padding-bottom: 2rem;
}

	.schedule .box-container .box .icons span{
		display: block;
		font-size: 1.6rem;
		color: #333;
		padding: .3rem 0;
	}

	.schedule .box-container .box .btn{
		margin: 1rem 2rem;
		background: var(--main-color);
		color: var(--text-color);
		font-size: 1.6rem;
		display: inline-block;
	}

	.main-contact {
		padding-top: 5rem;
	}

	.main-inner-contact {
		display: block;
		padding-top: 2rem;
	}

	.footer{
	    margin-top: 1.5rem;
	    font-size: 1.7rem;
	    padding:2rem;
	    text-align: center;
	    color:#666;
	    background: #eee;
	}











}